body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidenav {
    width: 250px;
    background-color: #393939;
    height: 80vh;
    position: fixed;
    top: 20px;
    left: 1px;
    padding-top: 20px;
    padding-bottom: 60px; /* Add padding to the bottom to prevent overlap with the footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-top-right-radius: 20px; /* Add some roundness to the top-right corner */
    border-bottom-right-radius: 20px; /* Add some roundness to the bottom-right corner */
    border-top-left-radius: 20px; /* Add some roundness to the top-right corner */
    border-bottom-left-radius: 20px; /* Add some roundness to the bottom-right corner */
    transition: width 0.3s, transform 0.3s;
    overflow-y: auto; /* Make sidebar scrollable vertically */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.sidenav img {
    width: 80%;
    margin-bottom: 20px;
}

.sidenav h2 {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.sidenav a {
    padding: 10px 5px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    width: 100%;
    text-align: center;
}

.sidenav a:hover {
    background-color: #575757;
}

.sidenav a.active {
    background-color: #4CAF50;
}

.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 250px;
    padding-bottom: 60px; /* Add padding to the bottom to prevent overlap with the footer */
    transition: margin-left 0.3s;
}

.main-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

footer {
    text-align: center;
    padding: 0px;
    background-color: #393939;
    color: white;
    position: relative;
    width: 250px;
    bottom: 0;
    left: 0;
    border-top-right-radius: 20px; /* Add some roundness to the top-right corner */
    border-top-left-radius: 20px; /* Add some roundness to the bottom-right corner */
    
}

.menu-button {
    display: none;
    position: fixed;
    top: 0px;
    left: 50%;
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

@media (max-width: 768px) {
    .sidenav {
        position: absolute;
        transform: translateX(-100%);
    }

    .sidenav.show {
        transform: translateX(0);
    }

    .main-content {
        margin-left: 0;
    }

    .menu-button {
        display: block;
    }
}
